<ion-popover-view>
  <ion-content scroll="false">
    <ion-slide-box style="height:100%" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box">
          <div class="list list-borderless">
            <div class="item item-divider">
              <h2 class="text-center">About {{ selEvent.club.name }}</h2>
            </div>
            <div class="item item-text-wrap">
              <p>{{ selEvent.club.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <div class="list list-borderless">
            <div class="item item-divider">
              <h2 class="text-center">
                Contact
              </h2>
            </div>
            <div class="item">
              <a ng-href="tel:{{ selEvent.club.phone }}" class="button button-assertive button-outline button-block icon-left ion-ios-telephone">{{ selEvent.club.phone }}</a>
              <a ng-href="{{selEvent.club.fb}}" class="button button-positive button-outline button-block icon-left ion-social-facebook-outline">Open on Facebook</a>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <div class="list list-borderless">
            <div class="item item-divider">
              <h2 class="text-center">Address</h2>
            </div>
            <div class="item item-text-wrap">
              <p>{{ selEvent.club.address }}</p>
            </div>
            <div class="item">
              <a ng-href="{{mapsUrl + selEvent.club.address}}" class="button button-assertive button-outline button-block icon-left ion-map">Open map</a>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-popover-view>
