<div class="modal">
  <ion-content class="has-footer" padding="false" scroll="false" overflow-scroll="false">
    <div class="list flex-parent list-event-modal">
      <div class="item item-image">
        <img class="full-image" ng-src="{{ selEvent.img }}" />
        <i class="icon light ion-close icon-close-top-left" ng-click="closeModal()"></i>
      </div>
      <div class="item">
        <div class="row row-no-padding">
          <div class="col col-75 no-padding-margin">
            <h2><b>{{selEvent.name}}</b></h2>
          </div>
          <div class="col col-25 no-padding-margin">
            <h2 class="text-right assertive" ng-show="selEvent.price > 0">${{selEvent.price}}</h2>
            <h2 class="text-right assertive" ng-show="selEvent.price == 0">FREE</h2>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="col no-padding-margin">
            <p>{{ selEvent.date }}</p>
          </div>
          <div class="col no-padding-margin">
            <p class="text-right">{{selEvent.priceCondition}}</p>
          </div>
        </div>
      </div>
      <ion-content overflow-scroll="false" class="flex-child-vertfill item item-no-padding" padding="false">
        <div class="list">
          <div class="item item-icon-left item-text-wrap" style="border-top: none!important;" ng-click="openPopover($event)">
            <i class="icon ion-location assertive"></i>
            <p><b class="assertive">{{ selEvent.club.name }}</b> <span class="item-note">@ {{ selEvent.startTime }}</span></p>
          </div>
          <div ng-show="selEvent.offer" class="item item-icon-left item-text-wrap">
            <i class="icon light-grey ion-star"></i>
            <p>{{ selEvent.offer }} {{ selEvent.offerCondition }}</p>
          </div>
          <div class="item item-text-wrap">
            <p style="white-space: pre-wrap">{{selEvent.description}}</p>
          </div>
        </div>
      </ion-content>
    </div>
  </ion-content>
  <footer ng-hide="!modalLoading" class="bar bar-footer bar-assertive disabled">
    <ion-spinner icon="dots" class="spinner-light title"></ion-spinner>
  </footer>
  <footer ng-show="!hasPassErr && !hasPass && !modalLoading" class="bar bar-footer bar-assertive" ng-click="confirmGuestPass()">
    <h1 class="title">Get my Pass</h1>
  </footer>
  <footer ng-show="!hasPassErr && hasPass && !modalLoading" class="bar bar-footer bar-assertive disabled">
    <h1 class="title">You have a pass for this event!</h1>
  </footer>
  <footer ng-show="hasPassErr && !modalLoading" class="bar bar-footer bar-assertive disabled">
    <p class="text-center">You need an internet connection to add a pass</p>
  </footer>
</div>
