<div class="modal">
  <ion-content class="dark-bg vert-align-parent" scroll="false" padding="true">
    <div ng-hide="hasVerified">
      <ion-spinner class="large-spinner spinner-stable text-center"></ion-spinner>
      <h1 class="stable">Verifying</h1>
    </div>
    <div ng-show="!guestPass.hasRedeemed && hasVerified">
      <i class="icon icon-large balanced ion-checkmark"></i>
      <div class="list card">
        <div class="item item-text-wrap">
          <h2><b>Pass holder name:</b> {{ guestPass.name }}</h2>
          <h2><b>Registered extra guests:</b> {{ guestPass.plus }}</h2>
        </div>
        <div class="item">
          <h2>Actual extra guests</h2>
          <div class="button-bar">
            <button class="button button-dark" ng-repeat="n in [0, 1, 2, 3, 4]" ng-click="setPlus(guestPass.passId, n)">{{ n }}</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="guestPass.hasRedeemed && hasVerified">
      <i class="icon icon-large assertive ion-close"></i>
      <br>
      <h1 class="text-center assertive">Pass has already been redeemed</h1>
      <button class="button button-assertive button-block" ng-click="closeModal()">Close</button>
    </div>
  </ion-content>
</div>
