<ion-view title="My Passes">
  <ion-content padding="false">
    <ion-refresher
      pulling-text="pull down to refresh"
      on-refresh="refresh()"></ion-refresher>

    <div class="list">
      <div class="item item-divider">
        <h2>Active Passes</h2>
      </div>
      <div class="item item-borderless" ng-show="guestPasses.active.length === 0">
        <p>You don't have any active passes yet!</p>
      </div>
      <div class="item item-avatar-left" ng-repeat="pass in guestPasses.active" ng-click="openModal(pass)">
        <img ng-src="{{pass.event.img}}" />
        <h2>{{ pass.event.name }}</h2>
        <p>{{ pass.event.date }} at <span class="assertive">{{pass.event.club.name}}</span></p>
      </div>
      <div class="item item-divider">
        <h2>Redeemed Passes</h2>
      </div>
      <div class="item item-borderless" ng-show="guestPasses.redeemed.length === 0">
        <p>You don't have any redeemed passes yet!</p>
      </div>
      <div class="item item-avatar-left" ng-repeat="pass in guestPasses.redeemed" ng-click="openModal(pass)">
        <img ng-src="{{pass.event.img}}" />
        <h2>{{ pass.event.name }}</h2>
        <p>{{ pass.event.date }} at <span class="assertive">{{pass.event.club.name}}</span></p>
      </div>
    </div>
  </ion-content>
</ion-view>
