<ion-view title="GuestPasses" hide-back-button="false">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="pass in guestPasses" class="item-icon-right">
        <h2>{{pass.name}} <span ng-show="pass.plus != 0">+{{pass.plus}}</span></h2>
        <i ng-show="pass.hasRedeemed" class="icon ion-checkmark-circled"></i>
        <ion-option-button ng-click="showPopup(pass)" class="button-stable ion-android-people"></ion-option-button>
        <ion-option-button ng-if="!pass.hasRedeemed" class="button-positive ion-checkmark" ng-click="manualValidation(pass.passId, pass)"></ion-option-button>
        <ion-option-button ng-if="pass.hasRedeemed" class="button-assertive ion-close" ng-click="manualValidation(pass.passId, pass)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive icon-left" align-title="center" ng-click="scanBarcode()">
    <h1 class="title"><i class="icon ion-camera"></i> Scan a GuestPass</h1>
  </ion-footer-bar>
</ion-view>
