<div class="modal">
  <ion-content class="dark-bg" has-bouncing="false">
    <div class="row row-top row-no-padding">
      <div class="col-20">
        <div class="button button-icon button-clear ion-close-round" ng-click="closeModal()"></div>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="list card guestpass-card">
        <div class="item item-image">
          <img class="full-image" ng-src="{{ selPass.event.img }}">
        </div>
        <div class="item">
          <div class="row row-no-padding">
            <div class="col">
              <h2><b>{{selEvent.name}}</b></h2>
            </div>
            <div class="col">
              <h2 class="text-right assertive" ng-show="selEvent.price > 0">${{selEvent.price}}</h2>
              <h2 class="text-right assertive" ng-show="selEvent.price == 0">FREE</h2>
            </div>
          </div>
          <div class="row row-no-padding">
            <div class="col">
              <p>{{ selEvent.date }}</p>
            </div>
            <div class="col">
              <p class="text-right">{{selEvent.priceCondition}}</p>
            </div>
          </div>
        </div>
        <div class="item item-icon-left" ng-click="openPopover($event)">
          <i class="icon ion-location assertive"></i>
          <h3 class="assertive">{{ selEvent.club.name }}<span class="item-note">@ {{selEvent.startTime}}</span></h3>
        </div>
        <div ng-show="selEvent.offer" class="item item-icon-left item-text-wrap">
          <i class="icon light-grey ion-star"></i>
          <p>{{ selEvent.offer }} {{ selEvent.offerCondition }}</p>
        </div>
        <div class="item text-center">
          <h2>{{ fullName }} +{{selPass.plus}}</h2>
          <qrcode data="{{selPass.ID}}" version="2" error-correction-level="H" size="75%"></qrcode>
        </div>
        <!--<div class="item item-text-wrap card padding">-->
        <!--<p>Please note that OutPass cannot guarantee entry to the club upon presenting this pass. </p>-->
        <!--<p>Entry remains at the club's discretion, please observe club regulations and dress codes.</p>-->
        <!--<hr />-->
        <!--<p><strong>Have a good night! :)</strong></p>-->
        <!--<p>The OutPass Team</p>-->
        <!--</div>-->
      </div>
    </div>
  </ion-content>
</div>
