<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content edge-drag-threshold="true"
                           drag-content="true">
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon hidden-lg" menu-toggle=""></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21" class=""></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="dark-bg" expose-aside-when="(min-width:1023px)">
               <ion-content padding="false" class="side-menu-left dark-bg" <="" ion-content="">
      <img src="./img/big-logo.png" class="full-image" />
            <ion-list>
                <ion-item href ui-sref="menu.explore" class="item-dark"  menu-close="">Explore</ion-item>
                <ion-item href ui-sref="menu.myPasses" class="item-dark" menu-close="">My Passes</ion-item>
                <ion-item href ui-sref="menu.myProfile" class="item-dark" menu-close="">My Profile</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
