<ion-view title="Explore">
  <ion-content class="stable-bg" lazy-scroll>
    <ion-refresher
      pulling-text="pull down to refresh"
      on-refresh="refresh()"></ion-refresher>
    <p ng-show="events.upcoming.length == 0" class="text-center padding-vertical">No events today</p>
    <div class="row row-wrap no-padding-margin responsive-md">
      <div class="col no-padding-margin" ng-repeat="event in events.upcoming">
        <div class="list explore-event" ng-click="openModal(event)">
          <div class="item item-image item-explore-image">
            <img image-lazy-src="{{ event.img }}" class="full-image" image-lazy-loader="spiral" lazy-scroll-resize="true">
          </div>
          <div class="item">
            <div class="row row-no-padding">
              <div class="col col-75 no-padding-margin">
                <h2><b>{{event.name}}</b></h2>
              </div>
              <div class="col col-25 no-padding-margin">
                <h2 class="text-right assertive" ng-show="event.price > 0">${{event.price}}</h2>
                <h2 class="text-right assertive" ng-show="event.price == 0">FREE</h2>
              </div>
            </div>
            <div class="row row-no-padding">
              <div class="col no-padding-margin">
                <p>{{ event.date }}</p>
              </div>
              <div class="col no-padding-margin">
                <p class="text-right">{{event.priceCondition}}</p>
              </div>
            </div>
          </div>
          <div class="item item-icon-left item-text-wrap">
            <i class="icon ion-location assertive"></i>
            <p><b class="assertive">{{ event.club.name }}</b> <span class="item-note">@ {{ event.startTime }}</span></p>
          </div>
          <div ng-show="event.offer" class="item item-icon-left item-text-wrap">
            <i class="icon light-grey ion-star"></i>
            <p>{{ event.offer }} {{ event.offerCondition }}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
