  <div class="item">

    <p ng-show="selEvent.price > 0">${{selEvent.price}}<span class="item-note">{{selEvent.priceCondition}}</span> </p>
    <p ng-show="selEvent.price == 0">FREE<span class="item-note">{{selEvent.priceCondition}}</span> </p>
  </div>
  <div ng-show="selEvent.offer" class="item">
    <p>{{selEvent.offer}}<span class="item-note">{{selEvent.offerCondition}}</span></p>
  </div>
  <div class="item item-input item-select">
    <p class="input-label">Extra guests</p>
    <select ng-model="data.select">
      <option value="0">None</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
