<ion-view title="Sign In">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="has-header">
    <form class="list">
      <ion-input class="item item-input item-stacked-label">
        <ion-label>Email</ion-label>
        <input type="email" placeholder="please enter your email" ng-model="data.email">
      </ion-input>
      <ion-input class="item item-input item-stacked-label">
        <ion-label>Password</ion-label>
        <input type="password" placeholder="please enter your password" ng-model="data.password">
      </ion-input>
    </form>
    <p ng-show="authErr == true" class="assertive">Invalid Email or Password, please try again!</p>
  </ion-content>
  <ion-footer-bar keyboard-attach align-title="center" class="bar-assertive" ng-click="loginEmail()">
    <h1 class="title">Sign in</h1>
  </ion-footer-bar>
</ion-view>
