/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$dark: #151516 !default;
$assertive: #F94647 !default;

$ionicons-font-path: "../lib/ionic/fonts" !default;

.login-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #982126), color-stop(100%, #f94647));
  background: -webkit-linear-gradient(top, #982126 0%, #f94647 100%);
}

.login-container > .button-row img {
  max-width: 80%;
}

.badge-bottom-left {
  position: absolute;
  top: auto !important;
  left: 16px;
  right: auto !important;
  bottom: 16px;
  border-radius: 0 !important;
}

.login-container > .header {
  -webkit-flex: 4;
  padding-top: 50px;
}

.logo {
  max-width: 80vw;
}

.tabs-explore > ion-tab {
  text-transform: uppercase;
}

.flex-parent {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-child-vertfill {
  flex: 2;
}

.item-no-padding {
  padding: 0!important;
  margin: 0!important;
  border-bottom: none!important;
}

.slide-in-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.guestpass-card {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.item-no-padding-v {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.no-padding-margin {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-v-sm {
  margin: 10px !important;
}

.explore-event {
  border-top: 0 !important;
  padding: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 100vw!important;
}

@media (min-width: 767px) {
  .modal {
    top: 5vh !important;
    bottom: 5vh !important;
    left: 30vw !important;
    right: 30vw !important;
    width: auto !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
  .explore-event {
    margin-top: 1vw!important;
    margin-left: 1vw!important;
    margin-right: 1vw!important;
    width: 48vw!important;
  }

  .item-explore-image {
    min-height: 25vw!important;
    padding: 0!important;
    margin: 0!important;
    border: 0!important;
  }
}

@media (min-width: 1023px) {

  .hidden-lg {
    display:none!important;
  }

  .explore-event {
    margin-top: calc((100vw - 275px) * 0.01) !important;
    margin-left: calc((100vw - 275px) * 0.01) !important;
    margin-right: calc((100vw - 275px) * 0.01) !important;
    width: calc((100vw - 275px) * 0.48)!important;
  }

  .item-explore-image {
    min-height: calc((100vw - 275px)*0.25)!important;
  }
}
.image-loader-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.item-explore-image {
  min-height: 62vw;
  padding: 0!important;
  margin: 0!important;
  border: 0!important;

}

.list-event-modal {
  border-top: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.light-grey {
  color: dimgrey;
}

.icon-close-top-left {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 20px;
  border-radius: 30px;
  background-color: $assertive;
  padding: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.76);
}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

