/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$assertive: #F94647 !default;

.login-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
}

.login-container > .header {
  -webkit-flex: 4;
  padding-top: 50px;
}

.logo {
  max-width: 40vw;
}

.vert-align-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-spinner svg {
  width: 30vw!important;
  height: 30vw!important;
}

.icon-large {
  text-align: center !important;
  font-size: 72px !important;
}
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

