<ion-view title="Explore">
    <ion-tabs class="tabs-background-dark tabs-color-assertive tabs-explore tabs-top">
        <ion-tab title="TODAY" href="#/side-menu/explore/today">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="THIS WEEK" href="#/side-menu/explore/thisweek">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="UPCOMING" href="#/side-menu/explore/upcoming">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
