<ion-view title="My Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="list card">
        <div class="item text-center item-text-wrap">
          <h1>{{ name }}</h1>
          <h2>{{ email }}</h2>
        </div>
        <div class="item item-select">
          <h2 class="input-label">City</h2>
          <select>
            <option selected>Montreal</option>
            <option disabled>More cities coming soon!</option>
          </select>
        </div>
        <div class="item">
          <button class="button button-block button-assertive" ng-click="logout()">Sign Out</button>
        </div>
      </div>
    </ion-content>
</ion-view>
